body {
	background-color: $backgroundColor;
	position: relative;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

header {
	height: 5rem;
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	.poweredBy {
		display: flex;
		align-items: center;
		width: 40rem;
	}
	img {
		height: 5rem;
		width: 5rem;
		margin-right: 1.5rem;
	}

	h1 {
		background: $headerColor;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: 75rem;
		margin: 0;
	}
}

.query {
	display: flex;
	padding-bottom: 2.5%;

	.queryContainer {
		display: flex;
		flex-direction: column;
		padding-top: 5rem;
	}

	form {
		display: flex;

		input {
			border-radius: 0.5rem;
		}

		input[type="text"] {
			margin-right: 1.5rem;
			width: clamp(15rem, 14.3878rem + 2.0408vw, 17rem);
		}

		input[type="text"]:focus {
			border: 0.1rem solid rebeccapurple;
		}

		input[type="submit"] {
			border-radius: 0.5rem;
		}

		input[type="submit"]:hover,
		input[type="submit"]:focus {
			background: rgb(82, 79, 79);
			color: white;
		}

		input[type="submit"]:focus {
			border: 0.1rem solid black;
		}
	}

	.marketStatusContainer {
		h2 {
			margin-top: 1.5rem;
			margin-bottom: 0;
		}
	}

	.movers {
		padding-top: 3.7rem;
		display: flex;
		justify-content: space-evenly;
		width: 70rem;

		.gainers,
		.losers {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.movers button:hover,
		.movers button:focus {
			color: black;
		}

		.movers button:focus {
			border: 0.1rem solid black;
		}

		.gainer button {
			background: green;
		}

		.loser button {
			background: red;
		}

		.mostActive button {
			background: rebeccapurple;
		}
	}
}

.quote {
	display: flex;
	position: relative;
	line-height: 1.6rem;
}

.values {
	display: flex;
	justify-content: space-between;
	width: clamp(31.5rem, 0.0000rem + 90.0000vw, 115.2rem);
}

.quotesContent {
	flex-direction: column;
	width: clamp(30rem, 18.0612rem + 39.7959vw, 69rem);

	h1,
	h3 {
		margin-top: clamp(1.25rem, 1.0618rem + 0.5376vw, 1.75rem);
		margin-bottom: 0;
	}
}

.quoteHeading {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;

	.quoteTitle {
		display: flex;
		align-items: center;
		align-content: center;

		h1 {
			width: 15rem;
		}
		.profileInformation button {
			background-color: #4f00ab;
			padding: 0.2rem 0.5rem;
			margin-bottom: 0;
		}

		.profileInformation button:hover,
		.profileInformation button:focus {
			background-color: black;
			color: white;
		}

		.profileInformation button:focus {
			border: 1px solid black;
		}
	}

	h1 {
		margin: 0;
	}
}

.chart {
	display: flex;
	align-items: end;
	justify-content: center;
}

.graph {
	width: clamp(40rem, 0.4651rem + 46.5116vw, 60rem);
	min-height: 400px;
}

button {
	border-radius: 0.5rem;
	border: none;
	margin-bottom: 0.3rem;
}

.hidden {
	display: none;
}

.show {
	display: flex;
}

.showFlex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.positiveValue {
	color: green;
}

.negativeValue {
	color: red;
}

@media screen and (max-width: 850px) {
	.values {
		flex-direction: column;
		align-items: center;

		.quotesContent,
		.chart {
			padding-bottom: 10%;
		}

		.quotesContent {
			align-items: center;
			width: clamp(45rem, -12.1429rem + 114.2857vw, 85rem);

			.stockData {
				display: flex;
				flex-direction: row;
				align-items: end;
				justify-content: space-around;
			}

		}

		.graph {
			width: clamp(30rem, 9.0000rem + 60.0000vw, 60rem);
		}
	}
}

@media screen and (max-width: 750px) {
	.query {
		flex-direction: column;

		.movers {
			width: clamp(30rem, -5.0000rem + 100.0000vw, 70rem);
			padding: 1.5rem 0 3rem 0;
			justify-content: space-between;
		}
	}
}


@media screen and (max-width: 500px) {
	header {
		flex-direction: column-reverse;
		align-content: center;

		.poweredBy {
			display: flex;
			justify-content: center;
			padding-top: 2.5%;
			width: 20rem;

			img {
				height: 2.5rem;
				width: 2.5rem;
			}
		}

		h1 {
			width: 30rem;
			display: flex;
			justify-content: center;
		}
	}

	.queryContainer {
		padding-top: 3.5rem;
	}

	.values {
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.quotesContent,
		.chart {
			padding-bottom: 10%;
		}

		.quotesContent {
			align-items: center;
			width: clamp(45rem, -12.1429rem + 114.2857vw, 85rem);

			.stockData {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.leftColumn, .rightColumn {
					width: 30rem;
				}
			}

		}

		
	}
}