body {
	background-color: $backgroundColor;
	position: relative;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

header {
	display: flex;
	justify-content: center;

	a {
		text-decoration: none;

		h1 {
			background: $headerColor;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.query {
	display: flex;
	padding-bottom: 2.5%;

	.queryContainer {
		display: flex;
		flex-direction: column;
		padding-top: 1.8rem;
	}

	form {
		display: flex;

		input {
			border-radius: 0.5rem;
		}

		input[type="text"] {
			margin-right: 1.5rem;
			width: clamp(15rem, 14.3878rem + 2.0408vw, 17rem);
		}

		input[type="text"]:focus {
			border: 0.1rem solid rebeccapurple;
		}

		input[type="submit"] {
			border-radius: 0.5rem;
		}

		input[type="submit"]:hover,
		input[type="submit"]:focus {
			background: rgb(82, 79, 79);
			color: white;
		}

		input[type="submit"]:focus {
			border: 0.1rem solid black;
		}
	}

	.marketStatusContainer {
		h2 {
			margin-top: 2.5rem;
			margin-bottom: 0;
		}
	}

	.movers {
		display: flex;
		justify-content: space-evenly;
		width: 70rem;

		button {
			border-radius: 0.5rem;
			border: none;
			margin-bottom: 0.3rem;
		}

		button:hover,
		button:focus {
			color: black;
		}

		button:focus {
			border: 0.1rem solid black;
		}

		.gainers,
		.losers {
			display: flex;
			flex-direction: column;
			align-items: center;

			.gainer button {
				background: green;
			}

			.loser button {
				background: red;
			}
		}

		.mostActive button {
			background: rebeccapurple;
		}
	}
}

.watchlists {
	display: flex;
	flex-direction: column;
	align-items: center;

	.watchlistsContainer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		.popularWatchlist {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			padding: 0 2rem 2rem 2rem;
			width: clamp(15rem, 11.7949rem + 6.4103vw, 20rem);

			img {
				width: 10rem;
				height: 15rem;
			}
		}

		button {
			background-color: rgb(70, 70, 116);
			width: clamp(10rem, 8.871rem + 3.2258vw, 13rem);
			padding: clamp(0.5rem, 0.4059rem + 0.2688vw, 0.75rem) 0;
			border-radius: 0.5rem;
			border: none;
		}

		button:hover,
		button:focus {
			color: black;
		}

		button:focus {
			border: 0.1rem solid black;
		}
	}
}

.quote {
	display: flex;
	position: relative;
	line-height: 1.6rem;
	padding-bottom: 2.5rem;

	.values {
		display: flex;
		justify-content: space-between;
		width: clamp(31.5rem, 0rem + 90vw, 115.2rem);

		.quotesContent {
			flex-direction: column;
			width: clamp(30rem, 18.0612rem + 39.7959vw, 69rem);

			h1,
			h3 {
				margin-top: clamp(1.25rem, 1.0618rem + 0.5376vw, 1.75rem);
				margin-bottom: 0;
			}

			.quoteHeading {
				display: flex;
				flex-direction: column;
				padding-top: 1rem;

				.quoteTitle {
					display: flex;
					align-items: center;
					align-content: center;

					h1 {
						width: 15rem;
					}
					.profileInformation button {
						background-color: #4f00ab;
						padding: 0.2rem 0.5rem;
						margin-bottom: 0;
					}

					.profileInformation button:hover,
					.profileInformation button:focus {
						background-color: black;
						color: white;
					}

					.profileInformation button:focus {
						border: 1px solid black;
					}
				}

				h1 {
					margin: 0;
				}
			}
		}
	}
}

.chart {
	display: flex;
	align-items: end;
}

.graph {
	width: clamp(40rem, 0.4651rem + 46.5116vw, 60rem);
	min-height: 400px;
}

.hidden {
	display: none;
	height: 0;
}

.show {
	display: flex;
	height: 100%;
}

.showMostActive {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.showMarketClosed {
	display: flex;
}

.positiveValue {
	color: green;
}

.negativeValue {
	color: red;
}

footer {
	display: flex;
	padding: 5rem 0 3rem 0;
	.poweredBy {
		display: flex;
		align-items: center;
		width: clamp(18rem, 14.2366rem + 10.7527vw, 28rem);

		img {
			height: clamp(3.5rem, 2.5385rem + 1.9231vw, 5rem);
			width: clamp(3.5rem, 2.5385rem + 1.9231vw, 5rem);
			margin-right: clamp(0.5rem, -0.141rem + 1.2821vw, 1.5rem);
		}
	}
}

@media screen and (max-width: 850px) {
	.values {
		flex-direction: column;
		align-items: center;

		.quotesContent,
		.chart {
			padding-bottom: 10%;
		}

		.quotesContent {
			width: clamp(45rem, -12.1429rem + 114.2857vw, 85rem);

			.stockData {
				display: flex;
				flex-direction: row;
				align-items: end;
				justify-content: space-around;
			}
		}

		.graph {
			width: clamp(30rem, 9rem + 60vw, 60rem);
		}
	}
}

@media screen and (max-width: 750px) {
	.query {
		flex-direction: column;

		.movers {
			width: clamp(30rem, -5rem + 100vw, 70rem);
			padding-bottom: 1.5rem;
			padding-top: 0;
			justify-content: space-between;
		}

		.showMarketClosed {
			justify-content: space-evenly;
		}
	}

	footer {
		justify-content: center;
	}
}

@media screen and (max-width: 500px) {
	.queryContainer {
		align-items: center;

		.marketStatusContainer {
			text-align: center;
		}
	}

	.quote {
		justify-content: center;
		.values {
			justify-content: center;

			.quotesContent,
			.chart {
				padding-bottom: 10%;
			}

			.quotesContent {
				width: clamp(45rem, -12.1429rem + 114.2857vw, 85rem);

				.quoteHeading {
					text-align: center;
				}

				.stockData {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					.leftColumn,
					.rightColumn {
						width: 30rem;
					}
				}
			}
		}
	}
}
