// Typography:
$primaryFont: "Noto Sans", "Droid";

// Colors:
$backgroundColor: rgb(149, 151, 153);
$headerColor: -webkit-linear-gradient(90deg,rgb(37, 65, 38), rgb(12, 134, 63));
$submitFocus: rgb(82, 79, 79);

// Media Query Breakpoints:
$XL: 1480px;
$L: 1280px;
$M: 768px;
$S: 425px;